:host {
  display: flex;
  justify-content: center;
  margin: 100px 0;
}

.mat-form-field {
  width: 100%;
  min-width: 300px;
}

@media (min-width: 600px)
{
  .mat-form-field {
    width: 100%;
    min-width: 600px;
    min-height: 50px;
  }
}

mat-card-title,
mat-card-content {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.error {
  padding: 16px;
  width: 300px;
  color: white;
  background-color: red;
}

.button {
  display: flex;
  justify-content: flex-end;
}
.mat-raised-button {
  background-color: #b91a1a !IMPORTANT;
}
